.constructor {
  .messages {
    margin-top: 50px;
    .message {
      color: black;
      min-width: 300px;
      .input-area {
        max-width: 500px;
      }
      .possible-answers {
        max-height: 135px;
        overflow-y: scroll;
        max-width: 500px;
        .possible-answer-card {
          background-color: rgb(233, 233, 233);
          border: 1px solid grey;
          padding: 10px;
        }
      }
    }
  }
  .constructor-actions-right {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .constructor-actions-left {
    position: absolute;
    top: 10px;
    left: 10px;
    .chat-name {
      width: 200px;
    }
  }
}
  
.members {
  color: black;
  .member-card {
    background-color: rgb(233, 233, 233);
    border: 1px solid grey;
    padding: 10px;
  }
}